<?xml version="1.0" encoding="utf-8"?>
<data>
	<!--etl日志所在库链接-->
    <conn name="conn_dw">
        <host>xxx</host>
        <port>1521</port>
        <database>xxx</database>
        <user>xxx</user>
        <password>xxx</password>
    </conn>
	<!--发件人信息-->
    <mail name="from">
		<server>smtp.qq.com</server>
        <port>25</port>
        <user>xxxxx@qq.com</user>
        <password>xxxxxx</password>
    </mail>
	<!--收件人列表，逗号分隔-->
    <mail name="to">
		<user_list>xxx@whty.com.cn,xxxxx@163.com</user_list>
    </mail>
</data>
